<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Farook college (Autonomous)</h3>
            <p>P.O. Farook College
            Kozhikode Dist.</p>
            <p>PIN 673 632, Kerala, India</p>
        </div>
        <div class="footer-section">
            <h3>Contact</h3>
            <p>Phone:+91 495 2440660</p>
            <p>Email: mail@farookcollege.ac.in</p>
        </div>
        <div class="footer-section">
            <h3>Hours</h3>
            <p>Monday - Friday: 8:00 AM - 10:00 PM</p>
            <p>Saturday - Sunday: 9:00 AM - 8:00 PM</p>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2025 Farook College. All rights reserved.</p>
    </div>
</footer>